{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenido</h1>
    <form action="{{ path('app_create_match') }}" method="post">
        <button type="submit">Crear Partida</button>
    </form>

    <h2>Partidas Abiertas</h2>
    <ul>
        {% for match in openMatches %}
            <li>
                <p>Partida {{ match.id }}</p>
                <a href="{{ path('app_game_join', {id: match.id}) }}">Unirse a la partida {{ match.id }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}