{% extends 'base.html.twig' %}

{% block title %}Esperando al segundo jugador{% endblock %}

{% block body %}
    <h1>Esperando al segundo jugador...</h1>
    <p>Partida ID: {{ match.id }}</p>
    <p>Por favor, espera a que el segundo jugador elija su carta.</p>
{% endblock %}