<form method="post" action="{{ path('app_registro_salida_delete', {'id': registro_salida.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ registro_salida.id) }}">
    <button class="btn">Delete</button>
</form>
