{% extends 'base.html.twig' %}

{% block title %}Nueva Partida{% endblock %}

{% block body %}
    <div class="container">
        <h1>Selecciona una carta</h1>
        
        <form method="post">
            <div class="row">
                {% for card in cards %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ card.getNumber() }} de {{ card.getSuit() }}</h5>
                                <button type="submit" name="card" value="{{ card.getId() }}" class="btn btn-primary">
                                    <img src="{{asset('uploads/images/' ~ card.getImage())}}" width="100">
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %} 

